<div class="bg-blue-900 text-white p-4 max-h-screen flex flex-col">
  <div class="flex flex-col items-center h-full overflow-y-auto">
    <img
      style="width: 60px; height: 30px"
      src="{{ url_for('static', filename='img/icon.png') }}"
      alt="Logo"
    />
    <ul class="mt-4 w-full space-y-3">
      <li class="block py-2 text-center border-b border-white">
        <a href="/dashboard" onclick="setActive(this)">
          <i class="fas fa-tachometer-alt"></i><br />
          Dashboard</a
        >
      </li>
      <li class="block py-2 text-center border-b border-white">
        <a href="/articles" onclick="setActive(this)">
          <i class="fas fa-book"></i><br />Article</a
        >
      </li>
      {% if session.get('role') in ['Chief-Editor', 'Manager'] %}
      <li class="block py-2 text-center border-b border-white">
        <a href="/grafik" onclick="setActive(this)">
          <i class="fas fa-file-alt"></i><br />Reports
        </a>
      </li>
      {% endif %} {% if session.get('role') == 'Manager' %}
      <li class="block py-2 text-center border-b border-white">
        <a href="/users" onclick="setActive(this)">
          <i class="fas fa-user"></i><br />Users</a
        >
      </li>
      {% endif %}
    </ul>
  </div>
</div>

<script>
  function setActive(element) {
    const links = document.querySelectorAll(".link");
    links.forEach((link) => {
      // link.classList.remove('font-bold');
    });
    element.classList.add("font-bold");
  }
</script>
